# Prerequisites
dep/*
!dep/.keep_dir

# Object files
obj/*
!obj/.keep_dir


# Executables
xfs_undelete
xfs_undelete_d

# Debug files
core

# Temporary and backup files
*~
*.bak
*.old
*.ori
*.orig
*.layout
